In [2]:
#Lecture 1 Code Examples

In [ ]:
a = 1
b = 2

c = a*b

In [5]:
print (c)

2

In [8]:
#instantiate list with values
my_list = [1,2,3,4,5]

In [7]:
#type is a keyword that returns the datatype
type(my_list)

list

In [9]:
my_list

[1, 2, 3, 4, 5]

In [14]:
#instantiation of a list
my_list = list()
#add an item to the list
my_list.append(1)
my_list
my_list.append(5)

In [15]:
#len is a keyword and returns the length, i.e. number of items in array
len(my_list)

2

In [16]:
my_list

[1, 5]

In [17]:
#indexing in python starts at 0
my_list[1]

5

In [18]:
my_list[0]

1

In [19]:
my_list.append(0.123)

In [20]:
#note: multiple datatypes, interger, float, string, etc can be added to array
my_list

[1, 5, 0.123]

In [21]:
my_list.append(True)
my_list.append('hello world')
my_list

[1, 5, 0.123, True, 'hello world']

In [23]:
#instantiate a set, set is just like a like but only unique values, case sensitive
my_set = set()
my_set.add('patrick')
my_set.add('kate')
my_set.add('patrick')
my_set.add('Patrick')
my_set

{'Patrick', 'kate', 'patrick'}

In [26]:
#hard coded dictionary
my_dict = {'patrick': 3.9, 'kate': 4.0}

In [27]:
my_dict

{'patrick': 3.9, 'kate': 4.0}

In [28]:
#retrieve value by passing key
my_dict['patrick']

3.9

In [29]:
#retrieve dictionary keys
my_dict.keys()

dict_keys(['patrick', 'kate'])

In [30]:
#retrieve dictionary values
my_dict.values()

dict_values([3.9, 4.0])

In [31]:
#loop statement
for word in my_dict.keys():
    print (my_dict[word])

3.9
4.0

In [34]:
cnt_dict = dict()
for i in range(0,10):
    cnt_dict[i] = i*2
    #print(cnt_dict[i])
    
cnt_dict

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [38]:
#while statement, continue until condition is met
i = 0
while i < 10:
    i=i+1
    #print(i)

In [51]:
import pandas as pd
#pandas dataframe
my_pd = pd.DataFrame()

#appending a pandas dataframe
for i in range(0,10):
    my_pd = my_pd.append({'name': i, 'grade': int(i+20), 'string': str(i)}, ignore_index=True)

my_pd

   grade  name string
0   20.0   0.0      0
1   21.0   1.0      1
2   22.0   2.0      2
3   23.0   3.0      3
4   24.0   4.0      4
5   25.0   5.0      5
6   26.0   6.0      6
7   27.0   7.0      7
8   28.0   8.0      8
9   29.0   9.0      9

In [57]:
#sum columns (axis=0), sum across rows (axis=1)
print (my_pd.sum(axis=0))
print (my_pd.sum(axis=1))

grade           245.0
name             45.0
string    123456789.0
dtype: float64
0    20.0
1    22.0
2    24.0
3    26.0
4    28.0
5    30.0
6    32.0
7    34.0
8    36.0
9    38.0
dtype: float64

In [49]:
#standard deviation across rows
my_pd.std(axis=1)

0    1.414214
1    1.414214
2    1.414214
3    1.414214
4    1.414214
5    1.414214
6    1.414214
7    1.414214
8    1.414214
9    1.414214
dtype: float64

In [58]:
#concatente 2 dataframes together (must be same number of columns)
pd.concat([my_pd, my_pd])

   grade  name string
0   20.0   0.0      0
1   21.0   1.0      1
2   22.0   2.0      2
3   23.0   3.0      3
4   24.0   4.0      4
5   25.0   5.0      5
6   26.0   6.0      6
7   27.0   7.0      7
8   28.0   8.0      8
9   29.0   9.0      9
0   20.0   0.0      0
1   21.0   1.0      1
2   22.0   2.0      2
3   23.0   3.0      3
4   24.0   4.0      4
5   25.0   5.0      5
6   26.0   6.0      6
7   27.0   7.0      7
8   28.0   8.0      8
9   29.0   9.0      9